@import "./theme.css"

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding:4rem  0;
    display: flex;
    justify-content:start ;
    background-color: rgb(255, 255, 255);
    /* height: 100vh; */
    /* width: 100vw; */
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    height: 3.7rem;
    
}
div.left{
    background-color: var(--mavi-9);
    height: 90%;
    width: 100vw;
    box-shadow: var(--acik-gölge);

}
div.right{
    background-color:var(--mavi-6);
    height: 75%;
    width: 100vw;
    box-shadow: var(--acik-gölge);
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    gap: 1rem;
}
div.center{
    background-color: var(--mavi-11);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    border-radius: 1rem;
    /* gap: 100px 70px; */
    /* width: 40rem; */
    box-shadow: var(--koyu-gölge);

}
a:hover{
    background-color: var(--mavi-2);
    color: aliceblue;
}
div a{
    padding: 1.3rem 5rem;
    text-decoration: none;
    
}
/* .ico{
    height: 0.3rem;
} */
svg{
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    height: 2rem;
}
svg:hover{
    height: 2.3rem;
    cursor: pointer;
}
